.scroll-to-btn {
  background-color: $primaryOrange;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  z-index: 999999999;
  cursor: pointer;
  .scroll-icon {
    color: #fff;
    height: 20px;
    width: 20px;
  }
}
@media screen and (max-width: 550px) {
  .scroll-to-btn {
    right: 2rem;
    bottom: 2rem;
  }
}
